// Place all the styles related to the Builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-build-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 64px 200px 1fr;
  justify-content: center;

  .build-image {
    grid-area: 1 / 1 / span 5 / span 5;

    width: 100%;
  }

  .build-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    align-items: center;
    border-radius: 0.5em;
    border: 1px transparent solid;
    background: white;
    grid-area: 2 / 2 / span 1 / span 1;

    .build-form-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0.5em;
      border: 1px transparent solid;
      background: white;
      grid-area: 2 / 2 / span 1 / span 1;
      box-shadow: none;
    }
  }
}

.builds-wrapper {
  display: grid;
  min-height: 80vh;
  grid-template-rows: 54px 1fr;
  width: 100%;

  h1 {
    padding-left: 32px;
    font-size: 1.5em;
    border-bottom: 8px solid #c5cae9;
    font-weight: bold;
    background: #3f51b5;
    color: white;
  }

  .builds-content {
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100vw;

    .builds-card:hover {
      border: 2px solid #e040fb;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
    .builds-card {
      display: flex;
      flex-direction: column;
      min-width: 200px;
      max-width: 300px;
      padding: 16px;
      margin-top: 16px;
      margin-right: 16px;
      border: 2px solid #bdbdbd;
      border-radius: 3px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

      .builds-author {
        color: #757575;
        font-size: 1em;
        align-self: flex-end;
      }
      .builds-title {
        color: #212121;
        font-weight: bold;
        font-size: 1em;
      }
      .builds-description {
      }
    }
  }
}
//      <%= link_to build.title, build_path(build.user, build), class: "builds-title"%>
