// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.

.cart-content {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 78vh;
  position: fixed;
  top: 15vh;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 8px;

  .cart-content-title {
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 2px solid #303f9f;
    border-radius: 2px;
  }
}

.cart-content-background {
  margin-top: 24px;
  margin-bottom: 24px;
  background: #c5cae944;
  box-shadow: inset 2px 0px 9px #00000044;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
