// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item_image {
  width: 200px;
  height: 200px;
  // animation: shake 0.12s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0px, 2px);
  }

  20%,
  80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, -1px, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.item-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  background: #c5cae922;

  .item-index {
    display: grid;
    grid-gap: 16px;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;

    grid-template-columns: repeat(auto-fill, 18rem);
  }
}
//      <%= link_to item.name,item_path(item) %></br>
.item-reference {
  position: relative;
  width: 100px;
  height: 100px;
  top: -25em;
  z-index: 1000000000;
}

.item-card-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

#secondary {
  background-color: #3f51b5;
}

.item-card:hover {
  box-shadow: 0px 0px 0px 2px #e040fb inset;
  cursor: pointer;
}

#item-card-select {
  box-shadow: 0px 0px 0px 2px #e040fb inset;
}

.item-card {
  display: grid;
  grid-template-rows: 250px 1fr;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  border: 1px solid #bdbdbdaa;

  border-radius: 0.2em;
  max-width: 330px;
  .item-card-image {
    max-width: 250px;
    max-height: 245px;
  }
  .item-card-body {
    padding-top: 8px;
    .item-card-title {
      color: #212121;
      font-weight: bold;
    }
    .item-card-description {
      color: #757575;
    }
  }
}

.item-content {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 77vh;
  top: 17vh;

  position: fixed;
  padding-left: 16px;
  padding-right: 16px;

  .item-content-title {
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 4px solid #e040fbaa;
    border-radius: 4px;
  }
  .item-content-description {
    padding-top: 8px;
    font-size: 0.8em;
    color: #757575;
  }
}

.item-content-background {
  margin-top: 24px;
  margin-bottom: 24px;
  background: #c5cae944;
  box-shadow: inset 2px 0px 9px #00000044;
}

.item-content-form {
  margin-top: auto;
  margin-bottom: 32px;
  select {
    margin-top: 8px;
    width: 100%;
    font-size: 1.5em;
  }
}

.item-content-btn {
  border: none;
  font-size: 0.8em;
  background: #e040fb;
  color: white;
  border-radius: 0.2em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 1em;
  margin-top: 8px;
  padding: 4px;
  width: 100%;
}

.item-search-bar {
  margin-top: 8px;
  width: 70%;
  align-self: center;
  padding-bottom: 8px;
  border-radius: 1em;
  font-size: 0.5em;
  font-family: "Open Sans", sans-serif !important;
}

// <%= link_to @owner.name, user_path(@owner) %> - <%= @build.title%> <br>
// parts<br>
// <%@build.items.each do |item|%>
//   <%= link_to item.name, item_path(item)%>
//   <% if @build.user_id == @user.id %>
//     - <%= link_to "Remove", delete_item_from_build_path(@build, item), {method: :delete}%>
//   <% end %><br>
// <%end%>
