<div class="new-build-wrapper">
  <img  class="build-image" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F3d%2F12%2F4d%2F3d124d1c5e615fb03611726a5352acfd.jpg&f=1&nofb=1"/>
  <div class="build-form">
    <h4>Edit Build</h4>
    <%= form_for :build, url: "/builds", html: {class: 'build-form-inner'} do |f|%>
      <%=  f.text_field :title,{placeholder: "Title", class: "item-content-title:"}%>
      <%= f.text_field :description, {placeholder: "Description", class: "item-content-description"}%>
      <%= f.submit :"Edit Build", class: "item-content-btn"%>
    <%end%>
  </div>
</div>
