<div class="new-build-wrapper">
  <img  class="build-image" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fdch81km8r5tow.cloudfront.net%2Fwp-content%2Fuploads%2F2017%2F07%2FFA17_Skate_UltraRangePro_LS_11.jpg&f=1&nofb=1"/>
  <div class="login-form build-form">
    <h3 class="build-form-title">Create Build</h3>
    <form action="/builds" accept-charset="UTF-8" method="post">
      <input type="hidden" name="authenticity_token" value="MLgPou1mJV4GiB+DSV21cf7NSm9UQ14M7GrrssBoD0A3/ri9BkbJGWWeAkT473CtaJTUA1vFIIK4YiKlcXRKyQ==">
      <div class="form-label-group">
        <input type="text" name="build[title]" id="inputText" class="form-control" placeholder="Title" required autofocus>
      </div>
      <div class="form-label-group">
        <textarea type="textarea" name="build[description]" id="inputPassword" class="form-control" placeholder="Description" rows="4'" style="resize:none;" required></textarea>
      </div>
      <button class="item-content-btn" type="submit">Create</button>
    </form>
  </div>
</div>
