<div class="new-build-wrapper">
  <img  class="build-image" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fdch81km8r5tow.cloudfront.net%2Fwp-content%2Fuploads%2F2017%2F07%2FFA17_Skate_UltraRangePro_LS_11.jpg&f=1&nofb=1"/>
  <div class="build-form">
    <h4>Create Build</h4>
    <%= form_for :build, url: "/builds", html: {class: 'build-form-inner'} do |f|%>
      <%=  f.text_field :title,{placeholder: "Title", class: "item-content-title:"}%>
      <%= f.text_field :description, {placeholder: "Description", class: "item-content-description"}%>
      <%= f.submit :"Create Build", class: "item-content-btn"%>
    <%end%>
  </div>
</div>
