<div class="login-wrapper">
  <div class="login-picture"></div>
  <div class="login-form">
    <h3 class="login-heading mb-4">Welcome!</h3>
    <form action="/register" accept-charset="UTF-8" method="post">
      <input type="hidden" name="authenticity_token" value="MLgPou1mJV4GiB+DSV21cf7NSm9UQ14M7GrrssBoD0A3/ri9BkbJGWWeAkT473CtaJTUA1vFIIK4YiKlcXRKyQ==">
      <div class="form-label-group">
        <input type="email" name="user[email]"  id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      </div>
      <div class="form-label-group">
        <input type="text" name="user[name]" id="inputText" class="form-control" placeholder="Name" required autofocus>
      </div>
      <div class="form-label-group">
        <input type="password" name="user[password]" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Register</button>
    </form>
  </div>
</div>
