<%= stylesheet_link_tag 'temmie/temmie', media: 'all', 'data-turbolinks-track' => true %>
<img 
src="https://res.cloudinary.com/teepublic/image/private/s--udPXvBl4--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1487066328/production/designs/1220096_1.jpg">
<h1>hoi!!!!!!!!!!! welcom to our site!</h1>
<h1><%= link_to 'be surreee to logginn!!!!', login_path%></h1>
<h1><%= link_to 'or if u dnt.... REGISTERR!!!', register_path%></h1>
